{
    "env": {
        "browser": false,
        "node": true,
        "es2021": true
    },
    "settings": {
        "import/extensions": [".js", ".jsx"]
    },
    "extends": ["plugin:react/recommended", "airbnb", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "react/prop-types": 0,
        "react/jsx-props-no-spreading": [
            2,
            {
                "custom": "ignore"
            }
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".jsx", ".js"]
            }
        ]
    }
}
